
.bg-red-500 {
  background-color: rgb(219, 40, 24);
}

main {
  overflow-y: scroll;
  height: 62rem;
  margin: 5rem;
  border-radius: 1rem;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.show-cart li {
  display: flex;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}

.card {
  background-color: rgb(233, 232, 232);
  border-radius: 8px;
}

.col-md-6 {
  text-align: center;
  height: 350px;
}

.card {
  padding-top: 16px;
}

img {
  border-radius: 8px;
}

.clear-cart {
  margin-left: 5px;
}

.navbar-inverse {
  background-color: rgb(187, 184, 184);
  border: none;
}

a {
  margin-bottom: 16px;
}